 

<main class="todo-container">

  <h1>To do List</h1>

 <div class="add-task">
   <input [(ngModel)]="newTask" placeholder="Add a new task">
   <button (click)="addTask()">Add Task</button>
 </div>

 <ul class="task-list">
    <li *ngFor="let todoItem of todoList; let i = index">
      <input type="checkbox" (change) = "toggleComplete(i)" (checked)="todoItem.completed" [ngClass] ="{'completed':todoItem.completed}">
      <span [class.completed] = "todoItem.completed">{{todoItem.task}}</span>
      <button (click)="deleteTask(todoItem.id)">Delete</button>
    </li>
 </ul>

</main>



<router-outlet />
